.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  // height: 64px;
  padding-top: 30px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;

  .logo-img {
    display: block;
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
  }

  .title {
    width: 100%;
    color: #fff;
    text-align: center;
  }
}
