html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #app {
    width: 100%;
    height: 100vh;
    margin-top: 60px;
    color: #2c3e50;
    text-align: center;
  }
}
